<!-- 
 Nombres y Apellidos: Winter Aníbal Meza Jiménez.
 Curso: Sexto "B" 2022(1).
 Clase: Server Side Render CRUD.
 Fecha: Miércoles 13/7/2022, MODIFICADO:Martes 19/07/2022.
 Docente: Ing. Jhon Antonio Cevallos Macías, Mg.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Usamos bootstrap para los estilos-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
