/*
// APLICACIONES WEB 2
// Nombres y Apellidos: Winter Aníbal Meza Jiménez.
// Curso: Sexto "B" 2022(1).
// Clase: Server Side Render CRUD.
// Fecha: Martes 19/07/2022.
// Docente: Ing. Jhon Antonio Cevallos Macías, Mg.
*/


/* Estilos para el CRUD*/

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}