/*
 Nombres y Apellidos: Winter Aníbal Meza Jiménez.
 Curso: Sexto "B" 2022(1).
 Clase: Client Side Render CRUD.
 Fecha: 30/6/2022- Modificado: Miércoles 13/7/2022.
 Docente: Ing. Jhon Antonio Cevallos Macías, Mg.
*/


/* Estilos para el CRUD*/

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}