/*
// APLICACIONES WEB 2
// Nombres y Apellidos: Winter Aníbal Meza Jiménez.
// Curso: Sexto "B" 2022(1).
// Complementario: 03Complementario CSR.
// Fecha: Viernes, 15 de julio de 2022.
// Docente: Ing. Jhon Antonio Cevallos Macías, Mg.
*/


/*Estilos para el CRUD*/

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}